<app-header></app-header>
<div class="grid-container">
  <div>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate laborum qui excepturi ex sapiente nam in sunt vitae sit
    iste. Doloremque doloribus quos hic natus adipisci, omnis esse maxime alias vero minus numquam sequi nihil nulla possimus
    distinctio dignissimos rerum ad eius consequatur. Similique molestias totam alias fugit ipsum facere assumenda quidem
    perferendis. Repellendus sit suscipit explicabo quibusdam nobis ea magnam voluptatum autem recusandae, qui laboriosam
    maiores. Natus quam fugiat, ipsa dignissimos illum molestiae doloremque sunt voluptas voluptatibus maxime sint?
  </div>

  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores pariatur, nostrum molestias tenetur explicabo cumque laboriosam
    commodi a cupiditate vel sequi! Expedita blanditiis omnis eos accusantium rem, beatae ratione commodi! Cum a quae incidunt,
    delectus, exercitationem recusandae minus molestiae modi praesentium voluptatum ea quas ipsum? Assumenda repudiandae
    illo error iste?
  </div>
</div>