<div class="page-wrapper">

  <!-- Wrapper for navigation above messages -->
  <div class="navigation-wrapper">
    <div>asdasd</div>
    <div>asdasd</div>
    <div>qweqwe</div>
    <div>eeer</div>
    <div>qweqweqweqw</div>
    <div>asdadasd</div>
  </div>


  <div class="message-wrapper">

    <!-- Left column -->
    <div class="online-profiles">


      <div class="list-group">

        <li class="list-group-item list-group-item-info">
          <b>Latest posts</b>
        </li>

        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim maxime obcaecati nemo cum! Rerum in excepturi modi
            provident ab ut!</p>
        </a>

        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim maxime obcaecati nemo cum! Rerum in excepturi modi
            provident ab ut!</p>
        </a>

        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim maxime obcaecati nemo cum! Rerum in excepturi modi
            provident ab ut!</p>
        </a>

        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, quia.</p>
        </a>

        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus sequi alias aperiam quas neque non eaque
            labore, repellat consectetur, doloribus nesciunt sapiente nisi illum? Et, vel. Cumque sit quasi ipsa?</p>
        </a>
      </div>
    </div>

    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">Panel heading</div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, earum saepe? Corrupti animi, sapiente voluptates
          facere vitae velit sequi accusamus aut quo eos inventore possimus totam sunt vero nulla voluptatem.</p>
      </div>

      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>

    <!-- Empty div / right column -->
    <div></div>

  </div>
</div>