<div class="page-wrapper">

  <!-- Wrapper for navigation above messages -->
  <div class="navigation-wrapper">
    
  </div>


  <div class="message-wrapper">

    <!-- Left column -->
    <div class="online-profiles">
    </div>

    <div>
      <div class="thumbnail" style="padding:2em;">
        <div *ngFor="let message of messages">
          <a href="#">{{message.createdBy}}</a>
          <p>{{message.content}}</p>
        </div>
      </div>
      <div>
        <form [formGroup]="myForm" (submit)="onMessageSubmit()">
          <div>
            <textarea formControlName="content" class="form-control" name="content" id="content" rows="2"></textarea>
          </div>

          <div style="padding-top: 5px;">
            <button type="submit" class="btn btn-success">Send Message</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Empty div / right column -->
    <div></div>

  </div>
</div>