<div class="page-wrapper">

  <!-- Wrapper for navigation above messages -->
  <div class="navigation-wrapper">
    <div></div>
    <div>
      <a href="#" class="btn btn-info">Technology</a>
    </div>

    <div>
      <a href="#" class="btn btn-info">Sports</a>
    </div>

    <div>
      <a href="#" class="btn btn-info">Cooking</a>
    </div>

    <div>
      <a href="#" class="btn btn-info">Traveling</a>
    </div>

    <div>
      <a href="#" class="btn btn-info">Fashion</a>
    </div>

    <div>
      <a href="#" class="btn btn-info">Politics</a>
    </div>
  </div>


  <div class="message-wrapper">

    <!-- Left column -->
    <div class="online-profiles">


      <!-- <div class="list-group">

        <li class="list-group-item list-group-item-info">
          <b>Contacts</b>
        </li>

        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim maxime obcaecati nemo cum! Rerum in excepturi modi
            provident ab ut!</p>
        </a>

        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim maxime obcaecati nemo cum! Rerum in excepturi modi
            provident ab ut!</p>
        </a>

        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim maxime obcaecati nemo cum! Rerum in excepturi modi
            provident ab ut!</p>
        </a>

        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, quia.</p>
        </a>

        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus sequi alias aperiam quas neque non eaque
            labore, repellat consectetur, doloribus nesciunt sapiente nisi illum? Et, vel. Cumque sit quasi ipsa?</p>
        </a>
      </div> -->
    </div>

    <div>
      <div class="thumbnail" style="padding:2em;">
        <a href="#">{{senderName.username}}</a>
        <p>{{senderMessage}}</p>
      </div>
      <div>
        <form [formGroup]="myForm" (submit)="onMessageSubmit()">
          <div>
            <textarea formControlName="content" class="form-control" name="content" id="content" rows="2"></textarea>
          </div>

          <div style="padding-top: 5px;">
            <button type="submit" class="btn btn-success">Send Message</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Empty div / right column -->
    <div></div>

  </div>
</div>