.grid{
    background-color: beige;
    text-align: center;
    padding: 2em;
}


/* Media Queries */

@media(min-width: 700px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 35em)) 1fr;
    }

    .content-wrap{
        grid-column: 2/4;
    }
}